{% extends "todo.html" %}

{% block content %}
  

<form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2 " method="POST" style="padding-top: 10%; background-color: aqua;">

<div class="col-12">
    <div class="form-outline">
      <input type="text" id="form1" class="form-control" name="todolist" placeholder="Enter a task here"/>
      
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">update</button>
  </div>
</form>

  {% endblock content %}











